*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #1f2937;
    color: white;
    height: 510px;
    display: flex;
    flex-direction: column;
    padding-left: 150px ;
    padding-right: 200px;
    padding-top: 20px;
}
.header-top{
    display:flex;
    justify-content: space-between;
    padding-bottom: 75px;
}
.left-header-top{
    font-size: 30px;
    color: #f9faf8;
    font-weight: bolder;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: large;
    font-weight: bold;
}
a{
    color: #f9faf8;
}

.header-buttom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.left-header-buttom{
    width: 450px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.header-title{
    font-size: 50px;
    font-weight: bolder;
}
.header-image{
    display: flex;
}
button{
    display: flex;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}
.about-website{
    font-size: 20px;
}

.header-image{
    display: flex;
    height: 300px;
    width: 500px;
}
img{
    display: flex;
    border-radius: 20px;
    height: 300px;
    width: 500px;
}

.info{
    background-color: white;
    height: 400px;
    color:#1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 50px;
    
}
.info-title{
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    
}
.courses{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
}
.item{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    font-size: 25px;
    height: 150px;
    width: 200px;
   
}
.logo{
    display: flex;
    padding: 5px;
    border: 60px;
    border-color: #3882f6;
    
}

.logo img{
    width: 150px;
    height: 150px;
}

.quote{
    background-color: #e5e7eb;
    height: 250px;
    padding-left: 300px;
    padding-right: 200px;
    padding-top: 100px;
}

.quote-content{
    display: flex;
    flex-direction: column;
    gap:0px;
}

.quote-text{
    color: #1f2937;
    height: 100px;
    font-size: 40px;
    font-style: italic;
}
.author{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: end;
}